<div style="padding-bottom: 10px;">
    {{#is_defined title}}
        <h4 style="padding: 0; margin: 0 0 5px 0">{{title}}</h4>
    {{/is_defined}}
    <table class="table">
        <tr>
            <th style="width: 180px">Fra og med - Til og med</th>
            {{#contains_field list "kilde"}}
                <th style="width: 180px">Status</th>
                <th>Kilde</th>
            {{else}}
                <th>Status</th>
            {{/contains_field}}
        </tr>
        {{#each list as |data|~}}
            <tr>
                <td>{{json_to_period (stringify data.periode)}}</td>
                <td>{{enum_to_readable data.status}}</td>
                {{#is_defined kilde}}
                    <td>{{capitalize data.kilde}}</td>
                {{/is_defined}}
            </tr>
        {{/each}}

    </table>
</div>