{{#if list}}
    <div style="padding-bottom: 10px;">
        {{#is_defined title}}
            <div style="display: inline-block; vertical-align: middle">
                <h4 style="padding: 0; margin: 0 0 5px 0; display: inline">{{title}}</h4>
                {{#is_defined subtitle}}
                    <span style="">{{subtitle}}</span>
                {{/is_defined}}
            </div>
        {{/is_defined}}
        <table class="table" style="width: 600px">
            {{#eq type "ARBEIDSFORHOLD"}}
                <tr>
                    <th>Fra og med - Til og med</th>
                    <th>Arbeidsgiver</th>
                    <th>Stilling</th>
                    <th>Lønnsendring</th>
                </tr>
                {{#each list as |data|~}}
                    {{#if data.medIBeregning }}
                        <tr>
                            <td style="width: 180px">{{json_to_period data.periode}}</td>
                            <td style="width: 30%">{{capitalize data.arbeidsgiver}}</td>
                            <td style="width: 10%">{{#if data.stillingProsent}}
                                {{data.stillingProsent}}%
                            {{/if}}</td>
                            <td>{{iso_to_date data.lønnsendringDato}}</td>
                        </tr>
                    {{/if}}
                {{/each}}
            {{/eq}}
            {{#eq type "BARNETILLEGG" }}
                {{#groupBy list "gjelderBarn" }}
                    <div style="margin-bottom: 20px">
                        <dl>
                            <dt>{{key.navn}}</dt>
                            <dd style="display: inline-table">
                                {{#iso_to_date key.fødselsdato}}{{/iso_to_date}}
                            </dd>
                        </dl>
                        <tr>
                            <th>Fra og med - Til og med</th>
                            <th>Kilde</th>
                            <th>Beløp (mnd)</th>
                            <th>Beløp (12mnd)</th>
                        </tr>
                        {{#each value as |data|~}}
                            <tr>
                                <td style="width: 15%">{{json_to_period data.periode}}</td>
                                <td style="width: 20%">
                                    {{#> notat/partials/kilde kilde=data.kilde}}
                                    {{/notat/partials/kilde}}
                                </td>
                                <td style="width: 10%">{{#divide data.beløp 12.0}}{{/divide}}</td>
                                <td style="width: 10%">{{data.beløp}}</td>
                            </tr>
                        {{/each}}
                    </div>
                {{/groupBy}}
            {{/eq}}
            {{#eq type "ÅRSINNTEKTER"}}
                <tr>
                    <th class="table_head_periode">Fra og med - Til og med</th>
                    <th class="table_head_beskrivelse">Beskrivelse</th>
                    <th class="table_head_belop">Kilde</th>
                    <th class="table_head_belop">Beløp</th>
                </tr>
                {{#each list as |data|~}}
                    {{#if data.medIBeregning }}
                        <tr>
                            <td>{{json_to_period data.periode}}</td>
                            <td>{{enum_to_readable data.type}}</td>
                            <td>
                                {{#> notat/partials/kilde kilde=data.kilde}}
                                {{/notat/partials/kilde}}
                            </td>
                            <td>{{data.beløp}}</td>
                        </tr>
                    {{/if}}
                {{/each}}
            {{/eq}}
            {{#eq type "INNTEKTER"}}
                <tr>
                    <th class="table_head_periode">Fra og med - Til og med</th>
                    <th class="table_head_belop">Kilde</th>
                    <th class="table_head_belop">Beløp</th>
                </tr>
                {{#each list as |data|~}}
                    <tr>
                        <td>{{json_to_period data.periode}}</td>
                        <td>
                            {{#> notat/partials/kilde kilde=data.kilde}}
                            {{/notat/partials/kilde}}
                        </td>
                        <td>{{data.beløp}}</td>
                    </tr>
                {{/each}}
            {{/eq}}
        </table>

    </div>
{{/if}}