{{#if list}}
    <div style="padding-bottom: 10px;">
        {{#is_defined title}}
            <h4 style="padding: 0; margin: 0 0 5px 0">{{title}}</h4>
        {{/is_defined}}
        <table class="table" style="width: 600px">
            {{#eq type "ARBEIDSFORHOLD"}}
                <tr>
                    <th>Fra og med - Til og med</th>
                    <th>Arbeidsgiver</th>
                    <th>Stilling</th>
                    <th>Lønnsendring</th>
                </tr>
                {{#each list as |data|~}}
                    <tr>
                        <td style="width: 180px">{{json_to_period data.periode}}</td>
                        <td style="width: 30%">{{data.arbeidsgiver}}</td>
                        <td style="width: 10%">{{data.stillingProsent}}%</td>
                        <td>{{iso_to_date data.lønnsendringDato}}</td>
                    </tr>
                {{/each}}
            {{/eq}}
            {{#eq type "BARNETILLEGG"}}
                <tr>
                    <th>Fra og med - Til og med</th>
                    <th>Barn</th>
                    <th>Beløp</th>
                </tr>
                {{#each list as |data|~}}
                    <tr>
                        <td style="width: 15%">{{json_to_period data.periode}}</td>
                        <td style="width: 20%">{{data.navn}}</td>
                        <td style="width: 10%">{{data.beløp}}</td>
                    </tr>
                {{/each}}
            {{/eq}}
            {{#eq type "INNTEKTER"}}
                <tr>
                    <th>Beskrivelse</th>
                    <th>Beløp</th>
                    <th>Fra og med - Til og med</th>
                </tr>
                {{#each list as |data|~}}
                    <tr>
                        <td style="width: 40%">{{enum_to_readable data.inntektType}}</td>
                        <td style="width: 10%">{{data.beløp}}</td>
                        <td style="width: 180px">{{json_to_period data.periode}}</td>
                    </tr>
                {{/each}}
            {{/eq}}
            {{#eq type "UTVIDET_BARNETRYGD"}}
                <tr>
                    <th>Fra og med - Til og med</th>
                    <th>Beløp</th>
                </tr>
                {{#each list as |data|~}}
                    <tr>
                        <td style="width: 15%">{{json_to_period data.periode}}</td>
                        <td style="width: 20%">{{data.beløp}}</td>
                    </tr>
                {{/each}}
            {{/eq}}
        </table>

    </div>
{{/if}}